#submitBtn {
    margin-top: .5em;
    margin-left: 1em;
}

#descInput {
    margin-left: 5em;
}

#pathInput {
    margin-left: 5em;
}

#formDiv {
    background-color: #f0f5f5;
    height: 75px;
    padding-top: 1.5em;
  }